﻿@using CommerceProject.Models;
@model AccountResult

@{
    ViewData["Title"] = "Results";
}
<link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.10.12/css/dataTables.bootstrap.css">

@if (Context.User.Identity.IsAuthenticated)
{
<div class="container-fluid top-pad-50">

    <!--Form-->
    <form id="accountform">
        <div class="row">
            <div class="col-md-1">
                <h5>Filter:</h5>
                <button type="button" class="btn btn-primary commerce-green-background" id="AvailButton">Available</button>
                <button type="button" class="btn btn-primary commerce-green-background" id="AllButton"
                        style="display:none">
                    All
                </button>
            </div>
            <div class="col-md-10" id="table1-wrapper">
                <table id="resultTable1" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Customer TIN</th>
                            <th>Account Number</th>
                            <th class="text-center">Lock</th>
                        </tr>
                    </thead>
                    @if (Model != null)
                    {
                        <tbody>
                        @foreach (var item in Model.accounts.Select((value, i) => new { i, value }))
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.value.RfcacfAlphaNavigation.RfcrffNameFirst)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.value.RfcacfAlphaNavigation.RfcrffNameLast)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.value.RfcacfAlphaNavigation.RfcrffTaxId)
                                    </td>
                                    @if (item.i == 0)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.value.RfcacfAcct)
                                        </td>
                                        @if (Model.accountLockStatus[item.value.RfcacfAcct] == null)
                                        {
                                            <td>
                                                <div class="checkbox text-center">
                                                    <label>
                                                        @Html.CheckBox("selected", new { value = Model.accountsToLock, title = Model.accounts[0].RfcacfAlpha })
                                                    </label>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>In use by @Model.accountLockStatus[item.value.RfcacfAcct].User</td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }

                                </tr>
                            }
                            @if (Model.relatedAccounts.Any())
                            {
                                    <tr class="highlight">
                                        <td>
                                            <img src="~/images/chain.png" alt="Related Account" style="width:14px;height:auto;">
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAlphaNavigation.RfcrffNameFirst <br />
                                            }
                                        </td>
                                        <td>
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAlphaNavigation.RfcrffNameLast <br />
                                            }
                                        </td>
                                        <td>
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAlphaNavigation.RfcrffTaxId <br />
                                            }
                                        </td>
                                        <td>
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAcct <br />
                                            }
                                        </td>
                                        <td></td>
                                    </tr>

                                
                            }
                        </tbody>
                    }
                </table>
            </div>

            <div class="row">
              



                <!--second table-->

                <div class="col-md-10" id="table2-wrapper">
                    <table id="resultTable2" class="table table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Customer TIN</th>
                                <th>Account Number</th>
                                <th class="text-center">Lock</th>
                            </tr>
                        </thead>
                        @if (Model != null)
                        {
                            Boolean acclock = true;
                            <tbody>
                                @foreach (var item in Model.accounts.Select((value, i) => new { i, value }))
                                {
                                    @if (Model.accountLockStatus[item.value.RfcacfAcct] == null)
                                    {
                                        acclock = false;
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.value.RfcacfAlphaNavigation.RfcrffNameFirst)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.value.RfcacfAlphaNavigation.RfcrffNameLast)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.value.RfcacfAlphaNavigation.RfcrffTaxId)
                                        </td>
                                        @if (item.i == 0)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.value.RfcacfAcct)
                                            </td>
                                            @if (Model.accountLockStatus[item.value.RfcacfAcct] == null)
                                            {
                                                <td>
                                                    <div class="checkbox text-center">
                                                        <label>
                                                            @Html.CheckBox("selected", new { value = Model.accountsToLock, title = Model.accounts[0].RfcacfAlpha })
                                                        </label>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>In use by @Model.accountLockStatus[item.value.RfcacfAcct].User</td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                        }

                                    </tr>
                                        }
                                    }
                                @if (Model.relatedAccounts.Any() && acclock==false)
                                {
                                    <tr class="highlight">
                                        <td>
                                            <img src="~/images/chain.png" alt="Related Account" style="width:14px;height:auto;">
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAlphaNavigation.RfcrffNameFirst <br />
                                            }
                                        </td>
                                        <td>
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAlphaNavigation.RfcrffNameLast <br />
                                            }
                                        </td>
                                        <td>
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAlphaNavigation.RfcrffTaxId <br />
                                            }
                                        </td>
                                        <td>
                                            @foreach (MRcfCac account in Model.relatedAccounts)
                                            {
                                                @account.RfcacfAcct <br />
                                            }
                                        </td>
                                        <td></td>
                                    </tr>


                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
          
        </div>
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <input type="hidden" name="User" value="@Context.User.Identity.Name" />
            <input type="hidden" name="DateTime" value="@DateTime.Now" />
            <button type="submit" class="btn btn-primary commerce-green-background" id="checkout1">Checkout</button>
        </div>
         @Html.AntiForgeryToken()
    <!--End of form-->
    </form>
</div>

}
else
{
    <h3>You must be logged in to view this content</h3>
}
<script src="~/DataTables/jQuery-2.2.3/jquery-2.2.3.js">
</script>
<script src="~/DataTables/DataTables-1.10.12/js/dataTables.bootstrap.min.js">
</script>
<script src="~/DataTables/datatables.min.js">
</script>
<script src="~/DataTables/datatables.js">
</script>
<script type="text/javascript" >
    var table1 = $('#resultTable1').dataTable({
        "ordering": false,
    });
    var table2 = $('#resultTable2').dataTable({
        "ordering": false,
    });
    $('#table2-wrapper').hide();
</script>   

<script type="text/javascript">
    var availButton = document.getElementById('AvailButton');
    var allButton = document.getElementById('AllButton');


    availButton.onclick = function () {
        var div1 = document.getElementById('resultTable1');
        var div2 = document.getElementById('resultTable2');

        if (div1.style.display !== 'none') {
            $('#table2-wrapper').show();
            $('#table1-wrapper').hide();
            div2.style.display = 'table';
            div1.style.display = 'none';
            table2.fnAdjustColumnSizing();
        
            availButton.style.display = 'none';
            allButton.style.display = 'block'

        }
        else {
            $('#table1-wrapper').show();
            $('#table2-wrapper').hide();
            div1.style.display = 'table';
            div2.style.display = 'none';
            table1.fnAdjustColumnSizing();
        
        }

        allButton.onclick = function () {
            var div1 = document.getElementById('resultTable1');
            var div2 = document.getElementById('resultTable2');
          

            if (div2.style.display !== 'none') {
                $('#table1-wrapper').show();
                $('#table2-wrapper').hide();
                div2.style.display = 'none';
         
                div1.style.display = 'table';
        
                allButton.style.display = 'none';
                availButton.style.display = 'block'

            }
            else {
                div2.style.display = 'table';
                div1.style.display = 'none';
                check2.style.display = 'block';
                check1.style.display = 'none';
            }
        }
    };
</script>


@section scripts
{
<script>

    $("#accountform").submit(function(event) {
        //Prevent form submission
        event.preventDefault();

        //Get Fields
        var $form = $(this)
        var selected = $('#selected:checked').map(function() {return this.value;}).get().join(',');
        var user = $form.find('input[name="User"]').val();
        var datetime = $form.find('input[name="DateTime"]').val();
        var token = $('input[name="__RequestVerificationToken"]').val();

        //Build dic to send it over the wire ;)
        var content = {
            'selected': selected,
            'user': user, 
            'datetime': datetime,
            '__RequestVerificationToken': token
        }

        //Form submission
        if (selected == "") {
            Messages.warningMsg();
        } else {
            postIt(content);
        }
        
    });

    
    //Form submission
    var postIt = function(content) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("checkoutAccounts", "Checkout")',
            data: content,
            success: function(response) {
                if (response.success == true) {
                    Messages.displaySuccessMsg("Out");
                } else {
                    Messages.displayErrorMsg();
                }
            },
            error: function (xhr, textStatus, errorThrown) {
               Messages.displayErrorMsg();
            }
        });
    };
</script>
}