﻿<style type="text/css">
    .resizedTextbox
    .resizeddropdown {
      width: 50px;
      height: 25px;
      display:inline-block;
    }
caption { 
    display: table-caption;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e5ffe9;
}
</style>
<div class="container-fluid">
    <div class="row">
        <h3>Select Attributes:</h3>
        <input type="text" id="myInput" onkeyup="myFunction()"  placeholder="Search for attribute" >
                <form asp-controller="Account" asp-action="SearchAttributesResults" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">
                    <div class=".form-control">
                        <div style="text-align-last:center; margin-right: 300px; color:darkgrey">Customer Attributes</div>
                        <div style="margin-right: 217px">
                            <table>
                                <colgroup><col style="width:20%" span="3" /></colgroup>
                                <thead>
                                    <tr>
                                        <th>Attribute</th>
                                        <th>Add Attribute</th>
                                        <th>Search Fields By Attribute</th>
                                    </tr>
                                </thead>
                            </table>
                            </div>
                            <div style="overflow-y: scroll; max-height:300px; margin-right: 200px">


                                <table id="myTable">
                                    <colgroup><col style="width:20%" span="3" /></colgroup>

                                    <tbody>
                                        @for (int k = 0; k + 2 < ViewBag.CustomerAttributes.Count; k += 3) //adding by 3 because every element is followed by it's type and then it's display name
                                        {
                                            <tr>
                                                <td>@ViewBag.CustomerAttributes[k + 2] </td>
                                                <td>
                                                    <a href="javascript:void(0);" onclick="addElement('@ViewBag.CustomerAttributes[k]', '@ViewBag.CustomerAttributes[k]Content', '@ViewBag.CustomerAttributes[k + 1]');">Add</a>
                                                </td>
                                                <td>
                                                    <div id='@ViewBag.CustomerAttributes[k]Content'> </div>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>


                            </div>

                            <div style="text-align-last:center; margin-right: 300px; color:darkgrey">Account Attributes</div>
                        <div style="margin-right: 217px">
                            <table>
                                <colgroup><col style="width:20%" span="3" /></colgroup>
                                <thead>
                                    <tr>
                                        <th>Attribute</th>
                                        <th>Add Attribute</th>
                                        <th>Search Fields By Attribute</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                            <div style="overflow-y: scroll; max-height:300px; margin-right: 200px">

                                <table id="myTable2">
                                    <colgroup><col style="width:20%" span="3" /></colgroup>
                                    <tbody>
                                        @for (int k = 0; k + 2 < ViewBag.AccountAttributes.Count; k += 3) //adding by 3 because every element is followed by it's type and then it's display name
                                        {
                                            <tr>
                                                <td>@ViewBag.AccountAttributes[k + 2] </td>
                                                <td>
                                                    <a href="javascript:void(0);" onclick="addElement('@ViewBag.AccountAttributes[k]', '@ViewBag.AccountAttributes[k]Content', '@ViewBag.AccountAttributes[k + 1]');">Add</a>
                                                </td>
                                                <td>
                                                    <div id='@ViewBag.AccountAttributes[k]Content'> </div>
                                                </td>
                                            </tr>

                                        }
                                </table>
                            </div>
                        </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-5 col-centered" max-height:200px">
                        <div class="row">
                            <br>
                            <input type="hidden" name="type" value="attribute" />
                            <input type="submit" class="btn btn-primary commerce-green-background" onclick="Submit();">
                        </div>
                    </div>
                </form>
            </div>
        </div>




@section scripts
{
<script>
var autocompt_opt = {
        source: function (request, response) {
            $.ajax({
                url: "/Autocomplete/Index",
                type: "POST",
                dataType: "json",
                data: { columnName: "MARKER", prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        console.log(this);
                        return { label: item, value: item };
                    }))

                }
            })
        }
};

function createAutoCompleteSource(attributeId) {

    return {
        source: function (request, response) {
            $.ajax({
                url: "/Autocomplete/Index",
                type: "POST",
                dataType: "json",
                data: { columnName: attributeId, prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        console.log(this);
                        return { label: item, value: item };
                    }))

                }
            })
        }
    }
}

function submit() {
    var x = document.getElementsByClassName(".form-control");
    x.submit();
}
function addElement(attributeid, content, placetype) {
    var objNewDiv = document.createElement('div');
    objNewDiv.innerHTML = GetDynamicTextBox("", attributeid, content, placetype);
    document.getElementById(content).appendChild(objNewDiv);
    //autocompt_opt.source.arguments.data = { columnName: attributeid, prefix: request.term };
    $('#' + attributeid).autocomplete(createAutoCompleteSource(attributeid));
}
function GetDynamicTextBox(value, attributeid, content, placetype) {
        return '<select class = "resizeddropdown" name="ops[]" value="this.text""><option>==</option><option>></option><option><=</option><option>>=</option><option><</option></select>' +
        '<input type="text" value = "' + value + '" id ="' + attributeid + '" name = "args[]" class = "resizedtextbox", placeholder = "Type: ' + placetype + '"/>' +
            '<input type="hidden" value = "' + attributeid + '" name = "attributes[]"/>' +
             '<a href="javascript:void(0);" onclick="removeElement(this,\''+content+'\')">Remove</a>'
    }
function removeElement(objNewDiv, content) {
    document.getElementById(content).removeChild(objNewDiv.parentNode);
}


function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    table2 = document.getElementById("myTable2");
    tr2 = table2.getElementsByTagName("tr");
    for (i = 0; i < tr2.length; i++) {
        td = tr2[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr2[i].style.display = "";
            } else {
                tr2[i].style.display = "none";
            }
        }
    }
}

</script>

    }






